@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
.jumbotron {
  padding-top: 5rem;
  background-image: url("img/projects/project2.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding-bottom: 0;
}
#projects {
  background-color: #273036;
}

section {
  padding-top: 5rem;
}

body{
  font-family: 'Philosopher', sans-serif;
}
