@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
.jumbotron {
  padding-top: 5rem;
  background-image: url("img/projects/project2.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding-bottom: 0;
}
#projects {
  background-color: #273036;
}

section {
  padding-top: 5rem;
}

body{
  font-family: 'PT Serif', serif;
}

/* projects styles */
section.projects .projects-item{
  border-radius: 25px;
  border: 3px solid #FFF;
  transition: .3s;
  transform: scale(1) translateY(50px);
  transition: .5s;
  opacity: 0;
}

section.projects .projects-item.show{
  transform: translateY(0);
  opacity: 1;
}

section.projects .projects-item:hover{
  border: 3px solid #3576A5;
  transform: scale(1.1);
}
